@model ePTS.Entities.Gradebooks.Gradebook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gradebook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMissingGradebookAssessments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMissingGradebookAssessments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assessments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assessments.AssessmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradebookPeriods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradebookPeriods.GradebookPeriodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentPlatformTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentPlatformTypes.AssessmentPlatformType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradebookStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradebookStatus.GradebookStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeLevels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeLevels.GradeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAcademicYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolAcademicYears.SchoolAcademicYearId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GradebookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
