@model ePTS.Entities.Gradebooks.GradebookAssessment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GradebookAssessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessedFemale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessedFemale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessedMale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessedMale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMissingAssessmentResults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMissingAssessmentResults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gradebooks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gradebooks.GradebookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradebookAssessmentPeriods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradebookAssessmentPeriods.GradebookAssessmentPeriodId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradebookAssessmentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradebookAssessmentStatus.GradebookAssessmentStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GradebookAssessmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
