@model ePTS.Entities.Assessments.AssessmentPerformanceLevel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssessmentPerformanceLevel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradebookAssessments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradebookAssessments.GradebookAssessmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceLevels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceLevels.PerformanceLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AssessmentPerformanceLevelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
