@model ePTS.Models.ViewModels.ApplicationUsersViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>User details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnabled)

            @if (Model.LockoutEnabled == true)
            {
                @string.Format("True")
            }
            else
            {
                @string.Format("False")
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd class="col-sm-10">
            @if (Model.LockoutEnd != null)
            {

                if (Model.LockoutEnd.Value.UtcDateTime > DateTime.Now)
                {
                    @string.Format("Locked until: ")
                    @Html.DisplayFor(modelItem => Model.LockoutEnd.Value.UtcDateTime)
                }
            }
        </dd>
    </dl>
    <form asp-action="Delete" id="main-form">
        <input type="hidden" asp-for="Id" />
        <!-- button group start -->
        <div class="form-group text-right mt-5">
            <a id="cancelbutton" class="btn btn-secondary mr-2" asp-action="Index">
                <i class="bi bi-x-circle"></i> Cancel
            </a>
            <button id="submitbutton" type="submit" value="Delete" class="btn btn-danger text-white">
                <span id="spinner" class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <i class="bi bi-trash"></i> Delete
            </button>
        </div>
        <!-- button group end -->
    </form>
</div>

@section Scripts {
<script>
    $(document).ready(function(){
        // Disables Submit button after one click if form is valid
        // sets "loading..." button styles
        var validator = $('#main-form').validate({ /* settings */ });
        $('#submitbutton')
            .on('click', function (e) {
                // prevents default submit
                e.preventDefault();

                var form = $('#main-form');
                if (form.valid()) {
                    // activates button 'loading..' style and disables submit button after one click
                    $('#spinner').removeClass('d-none');
                    $('#submitbutton').addClass('disabled');
                    // disable cancel button after submit
                    $('#cancelbutton').addClass('disabled');
                    // submit form
                    form.submit();
                }
                else {
                    // if form is valid submits, else focus to invalid fields
                    validator.focusInvalid();
                }
            });
    });
</script>
}