@model ePTS.Entities.Core.SchoolAcademicYear

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SchoolAcademicYear</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMissingEnrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMissingEnrollment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schools)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schools.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYears.AcademicYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYearStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYearStatus.AcademicYearStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SchoolAcademicYearId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
