@model ePTS.Entities.Gradebooks.GradebookEnrollment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GradebookEnrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Male)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Male)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Female)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Female)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gradebooks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gradebooks.GradebookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipantTypes.ParticipantType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GradebookEnrollmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
